<div class="panel panel-default post-item">
    {% if post_type == 'list' %}
    <a href="{% url 'photo:detail' pk=post.pk %}">
        <img src="{{ post.image.url }}" alt="" class="post-image">
    </a>
    {% else %}
    <img src="{{ post.image.url }}" alt="" class="post-image">
    {% endif %}
    <div class="panel-body">
        {% if post.comments.exists %}
        <ul class="comment-list">
            {% for comment in post.comments.all %}
            <li class="comment">
                <span class="comment-author">{{ comment.author }}</span>
                <span class="comment-content">{{ comment.content }}</span>
            </li>
            {% endfor %}
        </ul>
        <hr>
        {% endif %}
        <form
                action="{% url 'photo:comment_create' pk=post.pk %}?next=
	{% if post_type == 'list' %}
		{% url 'photo:list' %}#post-{{ post.pk }}
	{% elif post_type == 'detail' %}
		{% url 'photo:detail' pk=post.pk %}
	{% endif %}"
                method="POST"
                class="comment-form">
            {% csrf_token %}
            {{ comment_form.content }}
        </form>
    </div>
</div>